.mainHeadingBase {
    font-family: "Fantasy", Impact, serif;
    font-size: 18em;
    transform: scale(1.3, 0.5);

    transform-origin: center center;
    text-align: center;
    display: block;

    -webkit-text-stroke-width: 1px;

    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.7;

}

.mainH1 {
    color: transparent;
    -webkit-text-stroke-color: fuchsia
}

.mainH2 {
    color: transparent;
    -webkit-text-stroke-color: blue
}

.mainH3 {
    color: transparent;
    -webkit-text-stroke-color: teal
}

.content-wrapper {
    position: relative;
}

.inserted-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    text-align: center;

    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: black;

    z-index: 5;
}